html {
    max-width: 100%;
}

body {
    width: 100%;
    min-height: 100vh;
    background-color: #1E1E1E;
    z-index: -999;
}

.container-01 {
    width: 100%;
    min-height: 100vh;
    position: relative;
    background-color: #1E1E1E;
    background-image: url("gym-with-indoor-cycling-equipment 1.png");
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    flex-direction: row;
    justify-content: center;
}

.inicio {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-around;
    width: 320px;
    height: 100%;

    margin-top: 150px;

    z-index: 3;
}

#metodo {
    width: 150px;
    height: auto;
}

.inicio-alcance {
    width: 100%;
    margin-top: 150px;

    font-family: "Sofia Sans Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-size: 38px;
    color: white;
    font-style: normal;
    text-align: start;
}

.inicio-span {
    font-weight: 900;
    color: #FC7A45;
}

.inicio-desc {
    margin-top: 50px;

    font-family: "Poppins";
    font-size: 19px;
    font-weight: 400;
    line-height: 20.88px;
    letter-spacing: -0.04em;
    text-align: left;
    font-weight: 400;

    color: white;
}

.inicio-button {
    width: 284px;
    height: 47px;

    margin-top: 50px;
    background-color: #00DD31;
    border-radius: 8px;

    display: flex;

    text-align: center;
    align-items: center;
    justify-content: center;
    color: black;

    font-family: "Poppins";
    font-size: 14px;
    font-weight: 700;
    line-height: 14.12px;
    text-align: center;

    cursor: pointer;

}

.spencer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 660px;
    height: 700px;
    margin-top: 150px;
}

.spencer-foto {
    display: flex;
    width: 660px;
    height: 700px;
    flex-direction: column;
    justify-content: center;
    margin-left: 50px;
}

#metodo2 {
    width: 150px;
    height: auto;
    display: none;
}

#pedro {
    width: 700px;
    height: 850px;
    object-fit: cover;

    position: absolute;
}

@media (max-width: 768px) {
    .container-01 {
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }

    .inicio {
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .inicio-metodo {
        display: none;
    }

    .inicio-alcance {
        text-align: center;
    }

    .inicio-desc {
        text-align: center;
    }

    .spencer {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 40%;
        height: auto;
    }

    .spencer-foto {
        display: flex;
        align-items: center;
    }

    #pedro {
        width: 90%;
        height: 680px;
    }

    .spencer #metodo2 {
        display: flex;
        width: 200px;
    }

    .container-02 {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .prazer {
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .prazer-top {
        text-align: center;
        font-size: 14px;
    }

    .prazer-objs {
        display: flex;
        flex-direction: column;
    }
}

#linha {
    position: absolute;
    z-index: 10;
    margin-top: -8px;
    width: 100%;
    height: auto;
}

/*#pedro {
    width: 650px;
    height: 760px;
    top: 300px;
    left: 750px;
    gap: 0px;
    opacity: 0px;
}

#effect {
    width: 400px;
    top: 200px;
    left: 900px;
    z-index: -1;
}*/

.container-02 {
    width: 100%;
    min-height: 100vh;
    background-color: #1E1E1E;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.prazer {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 80px;
}

.prazer-top {
    width: 530px;

    font-family: "Sofia Sans Condensed";
    font-size: 28px;
    font-weight: 800;
    line-height: 28.23px;
    text-align: center;

    color: white;

}

.prazer-desc {
    width: 450px;
    margin-top: 20px;

    font-family: "Poppins";
    font-size: 16px;
    font-weight: 300;
    line-height: 19.2px;
    letter-spacing: -0.02em;
    text-align: center;

    color: white;

}

.prazer-desc b {
    font-weight: 700;
}

.prazer-span {
    font-weight: 700;
    color: #FC7A45;
}

.prazer-objs {
    margin-top: 70px;

    width: 650px;
    display: flex;
    flex-direction: row;

    justify-content: space-around;
}

.prazer-obj {
    width: 195px;
    height: 135px;

    background-color: #e77140;
    border-radius: 8px;

    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.prazer-obj-texto {
    position: relative;
    text-align: center;

    z-index: 2;

    font-family: "Sofia Sans Condensed";
    font-size: 26px;
    font-weight: 400;
    line-height: 26.22px;
    letter-spacing: -0.03em;
    text-align: center;

    color: white;
}

.prazer-obj .texto-span {
    color: black;
    font-weight: 900;
}

.prazer-obj-fundo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Sofia Sans";
    font-size: 150px;
    font-weight: 1000;
    line-height: 151.25px;
    letter-spacing: -0.03em;

    color: #ff9365a6;

    z-index: 1;
    pointer-events: none;
}

.resultados {
    width: 100%;
    margin-top: 100px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.resultados-titulo {
    font-family: "Sofia Sans Condensed";
    font-size: 32px;
    font-weight: 700;
    line-height: 32.27px;
    letter-spacing: -0.04em;
    text-align: center;

    color: white;
}

.resultados-carrosel {
    width: 90%;
    height: 500px;
    position: relative;
    display: grid;
    place-items: center;
    overflow: hidden;
}

.slide-track {
    display: flex;
    width: calc(295px * 10);
    animation: scroll 40s linear infinite;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-295px * 5));
    }

}

.slide {
    height: 434px;
    width: 295px;
    display: flex;
    align-items: center;
    padding: 15px;
    perspective: 100px;
}

.slide img {
    height: 434px;
    width: 295px;
    transition: transform 1s;

    border: 1px solid orange;
    border-radius: 16px;
}

.slide img:hover {
    transform: translateZ(10px);
}

.resultados-button {
    width: 366px;
    height: 47px;

    margin: 115px;
    background-color: #00DD31;
    border-radius: 8px;

    display: flex;

    text-align: center;
    align-items: center;
    justify-content: center;
    color: black;

    font-family: "Poppins";
    font-size: 14px;
    font-weight: 700;
    line-height: 14.12px;
    text-align: center;

    cursor: pointer;
}

.container-03 {
    width: 100%;
    min-height: 120vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("gym-with-indoor-cycling-equipment 2.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.metodologia {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}

.metodologia-titulo {
    margin-top: 150px;
    font-family: "Sofia Sans Condensed";
    font-size: 32px;
    font-weight: 800;
    line-height: 32.27px;
    letter-spacing: -0.04em;
    text-align: center;

    color: white;
}

.metodologia-mais {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    margin-top: 60px;
}

.mais-objeto {
    width: 170px;
    height: 170px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    text-align: center;


    margin: 10px;

    background-color: #262626;
    border-radius: 6px;
    border: 1px solid white;
}

.mais-icon {
    margin-top: 25px;
    display: flex;
    align-items: start;
}

.mais-span {
    font-weight: 800;
}

.mais-texto {
    margin-top: 10px;

    color: white;

    font-family: "Sofia Sans Condensed";
    font-size: 22px;
    font-weight: 300;
    line-height: 26.4px;
    letter-spacing: -0.03em;
    text-align: center;

}

.metodologia-desc {
    width: 640px;
    text-align: center;

    margin-top: 90px;

    font-family: "Poppins";
    font-size: 18px;
    font-weight: 300;
    line-height: 21.6px;
    text-align: center;

    color: white;
}

.metodologia-desc b {
    font-weight: 700;
}

.metodologia-vaga {
    width: 380px;
    margin-top: 80px;

    font-family: "Sofia Sans Condensed";
    font-size: 50px;
    font-weight: 800;
    line-height: 42.35px;
    letter-spacing: -0.04em;
    text-align: center;

    color: white;
}

.metodologia-button {
    width: 324px;
    height: 47px;

    margin-top: 80px;
    background-color: #00DD31;
    border-radius: 8px;

    display: flex;

    text-align: center;
    align-items: center;
    justify-content: center;
    color: black;

    font-family: "Poppins";
    font-size: 14px;
    font-weight: 700;
    line-height: 14.12px;
    text-align: center;

    cursor: pointer;
}

.container-04 {
    width: 100%;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.top {
    width: 60%;
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.top-texto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    width: 50%;
}

.top-titulo {
    font-family: "Sofia Sans Condensed";
    font-size: 32px;
    font-weight: 800;
    line-height: 32.27px;
    letter-spacing: -0.05em;
    text-align: left;

    color: white;
    width: 90%;
    margin: 20px;
}

.top-pedro-cima {
    display: none;
}

.top-desc {
    font-family: "Poppins";
    font-size: 18px;
    font-weight: 400;
    line-height: 34px;
    letter-spacing: -0.03em;
    text-align: left;

    color: white;
    width: 78%;
}

.top-span {
    color: #FC7A45;
    font-weight: 700;
}

.bottom {
    width: 60%;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.bottom-titulo {
    font-family: "Sofia Sans Condensed";
    font-size: 32px;
    font-weight: 800;
    line-height: 32.27px;
    letter-spacing: -0.04em;
    text-align: center;

    color: white;

    width: 565px;
}

.bottom-depoimentos {
    width: 75%;
    margin: 100px 0;
}

.bottom-depoimento {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px;
}

.bottom-depoimento-text {
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    line-height: 17.5px;
    letter-spacing: -0.03em;
    text-align: justify;

    color: white;
    margin-left: 30px;
}

.container-05 {
    background-color: #FC7A45;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.center {
    width: 555px;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.center-text {
    font-family: "Sofia Sans Condensed";
    font-size: 48px;
    font-weight: 800;
    line-height: 48.4px;
    letter-spacing: -0.04em;
    text-align: center;

    color: white;
    width: 98%;
}

.center-oferta {
    width: 420px;
    min-height: 480px;

    background: #FF530B;
    -webkit-box-shadow: 12px 3px 19px 0px rgba(0, 0, 0, 0.53);
    -moz-box-shadow: 12px 3px 19px 0px rgba(0, 0, 0, 0.53);
    box-shadow: 12px 3px 19px 0px rgba(0, 0, 0, 0.53);

    border-radius: 8px;

    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 100px;

}

.oferta-titulo {
    font-family: "Poppins";
    font-size: 36px;
    font-style: italic;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: -0.03em;
    text-align: left;

    color: white;

    margin: 35px;

}

.oferta-desc {
    font-family: Poppins;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: -0.03em;
    text-align: left;

    color: white;

    width: 62%;
    margin: 20px;
}

.oferta-desc b {
    font-weight: 700;
}

.oferta-lista {
    font-family: "Poppins";
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: -0.03em;
    text-align: left;

    color: white;

    width: 70%;
    margin: 15px;
}

.oferta-button {
    width: 305px;
    height: 52px;

    margin: 50px;
    background-color: #00DD31;
    border-radius: 200px;

    display: flex;

    text-align: center;
    align-items: center;
    justify-content: center;
    color: black;

    font-family: "Poppins";
    font-size: 18px;
    font-weight: 700;
    line-height: 14.12px;
    text-align: center;

    cursor: pointer;
}

.center-bottom-text {
    margin: 100px;
    width: 100%;
}

.center-bottom-titulo {
    font-family: "Sofia Sans Condensed";
    font-size: 48px;
    font-weight: 800;
    line-height: 64.8px;
    letter-spacing: -0.04em;
    text-align: center;

    color: white;
}

.center-bottom-desc {
    font-family: "Poppins";
    font-size: 32px;
    font-weight: 500;
    line-height: 40.64px;
    letter-spacing: -0.05em;
    text-align: center;

    color: white;

    margin-top: 20px;
}

.container-06 {
    width: 100%;
    min-height: 110vh;
    position: relative;
    background-color: #1E1E1E;
}

.perguntas {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 100px;
}

.perguntas-titulo {
    font-family: "Sofia Sans Condensed";
    font-size: 32px;
    font-weight: 800;
    line-height: 43.2px;
    letter-spacing: -0.04em;
    text-align: center;

    color: #FC7A45;

    margin-bottom: 30px;
}

.pergunta {
    margin: 20px;
    max-width: 690px;
}

.pergunta-titulo {
    font-family: "Poppins";
    font-size: 18px;
    font-weight: 700;
    line-height: 25.38px;
    letter-spacing: -0.03em;
    text-align: center;

    color: #FC7A45;
}

.pergunta-texto {
    font-family: "Poppins";
    font-size: 18px;
    font-weight: 400;
    line-height: 25.38px;
    letter-spacing: -0.03em;
    text-align: center;

    color: white;
}

.transforme {
    font-family: "Poppins";
    font-size: 36px;
    font-style: italic;
    font-weight: 700;
    line-height: 43.56px;
    letter-spacing: -0.03em;
    text-align: center;

    color: #FF530B;
    width: 480px;
    margin: 50px;
}

footer {
    background: rgba(38, 38, 38, 1);
    width: 100%;
    height: 270px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.duvida {
    display: flex;
    flex-direction: column;
}

.duvida-titulo {
    font-family: "Sofia Sans";
    font-size: 22px;
    font-weight: 800;
    line-height: 29.7px;
    letter-spacing: -0.05em;
    text-align: center;

    color: white;
}

.duvida-entre {
    font-family: "Poppins";
    font-size: 16px;
    font-weight: 400;
    line-height: 20.8px;
    letter-spacing: -0.03em;
    text-align: center;

    color: white;

    margin: 12px 0;
}

.duvida-contato {
    font-family: "Poppins";
    font-size: 16px;
    font-weight: 400;
    line-height: 20.8px;
    letter-spacing: -0.03em;
    text-align: center;

    color: white;
}

@media (max-width: 768px) {
    .container-01 {
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }

    .inicio {
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .inicio-metodo {
        display: none;
    }

    .inicio-alcance {
        text-align: center;
    }

    .inicio-desc {
        text-align: center;
    }

    .spencer {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 40%;
        height: auto;
    }

    .spencer-foto {
        display: flex;
        align-items: center;
    }

    #pedro {
        width: 90%;
        height: 680px;
    }

    .spencer #metodo2 {
        display: flex;
        width: 200px;
    }

    .container-02 {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .prazer {
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .prazer-top {
        width: 100%;
        text-align: center;
        font-size: 21px;
    }

    .prazer-desc {
        width: 100%;
        margin-top: 70px;
        text-align: center;
        font-size: 18px;
    }

    .prazer-objs {
        display: flex;
        flex-direction: column;
        align-items: center;
        min-height: 500px;
        justify-content: space-around;
    }

    .resultados-button {
        width: 280px;
    }

    .container-03 {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .metodologia-mais {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    .mais-objeto {
        width: 110px;
        height: 110px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .mais-texto {
        margin: 0;
        margin-top: 2px;
        font-size: 11px;
        line-height: 16px;
    }

    .mais-icon {
        margin: 0;
    }

    .mais-icon img {
        width: 40px;
        height: auto;
    }

    .metodologia-desc {
        width: 90%;
    }

    .container-04 {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .top-texto {
        width: 100%;
    }

    .top-titulo {
        width: 100%;
        align-items: center;
    }

    .top-pedro-cima {
        display: flex;
    }

    .top-desc {
        width: 90%;
        margin-top: 55px;
        font-size: 14px;
        line-height: 22px;
    }

    .top-desc li {
        margin-top: 2px;
    }

    .top-pedro {
        display: none;
    }

    .bottom {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .bottom-titulo {
        text-align: center;
        width: 90%;
    }

    .bottom-depoimento {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .bottom-depoimento-text {
        margin: 20px 0;
    }

    .container-05 {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .center {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .center-text {
        font-size: 30px;
        line-height: 30px;
        width: 90%;
    }

    .center-oferta {
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .oferta-titulo {
        width: 90%;
        text-align: center;
    }

    .oferta-button {
        width: 240px;
    }

    .center-bottom-text {
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .center-bottom-desc {
        width: 90%;
        font-size: 24px;
        text-align: center;
    }

    .transforme{ 
        width: 90%;
        font-size: 22px;
        line-height: 24px;
    }

    footer{
        display: flex;
        flex-direction: column;
        min-height: 450px;
        justify-content: space-around;
    }
}